{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<!-- Search bar -->
<div class="search-bar mb-3">
    <form method="get" action="{% url 'index' %}">
        <input type="text" name="search" class="form-control" placeholder="Search posts..." value="{{ query }}">
    </form>
</div>

<div class="posts">
    {% for post in posts %}
    <div class="row post-one mt-3">
        <div class="col-1 post-avatar">
            <img class="avatar" src="{% static 'images/default.jpg' %}" alt="Profile picture">
        </div>
        <div class="col-10 post">
            <div class="post-user-info">
                <b class="main">{{ post.user.username }}</b>
                <span class="grey">@{{ post.user.username }} | {{ post.created|timesince }} ago</span>
                <div class="content mt-2">
                    <div class="post mb-3">
                        <p class="main">{{ post.body }}</p>
                        {% if post.media %}
                        <img src="{{ post.media.url }}" alt="Post media" class="image-tweet">
                        {% endif %}
                    </div>
                    <div class="actions d-flex justify-content-between mt-3">
                        <div class="action small"><i class="fa-regular fa-comment"></i> 1.3k</div>
                        <div class="action small"><i class="fa-regular fa-heart"></i> {{ post.likes }}</div>
                        <div class="action small"><i class="fa-regular fa-bookmark"></i> {{ post.saveds }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No posts yet.</p>
    {% endfor %}
</div>

{% endblock %}
