{% extends 'base.html' %}
{% block content %}
<h4>Latest Posts</h4>
{% for post in posts %}
<div class="card mb-3">
  <div class="card-body">
    <h6>{{ post.user.username }}</h6>
    <p>{{ post.body }}</p>
    {% if post.media %}
    <img src="{{ post.media.url }}" class="img-fluid">
    {% endif %}
    <div class="d-flex gap-3 mt-2">
      <a href="{% url 'post_like' post.id %}" class="btn btn-sm btn-outline-primary">Like ({{ post.likes }})</a>
      <span>Views: {{ post.views }}</span>
      <span>Saved: {{ post.saveds }}</span>
    </div>
  </div>
</div>
{% empty %}
<p>No posts yet.</p>
{% endfor %}
{% endblock content %}
